.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #000133;
}

.header,
.footer {
  display: flex;
  position: relative;
  bottom: 1rem;
  background: #1b1c1d;
  height: 55px;
  width: 110%;
  align-items: center;
  justify-content: center;
  color: red !important;
  text-align: center;
}

.icon {
  padding: 10px;
}

.icon:hover {
  cursor: pointer;
}

.header-title {
  margin: auto;
}

.container {
  display: flex;
  flex: 1;
}

.drawer {
  background: #d8dcd6;
  width: 240px;
}

.main {
  flex: 1;
  background: #f7f5f5;
}
.drawer {
  background: #d8dcd6;
  width: 0px;
  transition: width 0.7s;
}

.opened {
  width: 240px;
}
.Hola {
  position: absolute;
  right: 15rem;
  bottom: 5rem;
  text-align: center;
}